<!DOCTYPE html>
<html>
<%- include('header'); -%>
<body>
<div class="flex-centered">
    <div class="has-text-centered">
        <p id="login-info">
            To continue, sign in with Google
        </p>
        <a href="/auth/google" class="button is-rounded" id="google-login-button">
            <img src="assets/google-logo.svg" id="google-icon">
            <span id="login-button-divider"></span>
            <span id="login-button-text">Sign In</span>
        </a>
    </div>
</div>
<img id="login-logo" src="assets/logo.svg">
</body>
</html>